@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Sora:wght@100..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Sora", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Italiana", sans-serif;
}

.gradient-background {
  background: linear-gradient(213deg,#5d5d5d,#000000,#5b5b5b);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}